.game-container {
  height: 100vh;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.retour {
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
}

.quit-button {
  background-color: white;
  border-radius: 40px;
  width: 8rem;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 2rem;
  padding: 10px;
}

.level-title {
  font-weight: bold;
  margin: 2rem;
  padding: 10px;
}

.card {
  background-color: white;
  padding: 50px;
  height: 400px;
  width: 650px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add some shadow */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card h3 {
  margin-top: 0;
}

.word-display {
  font-size: 50px;
  font-weight: bolder;
  color: black; /* Changed from white to black */
  padding: 15px 50px;
  margin: 20px;
  background: none; /* Remove the background */
}

.synonyms-container {
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
}

.hide-buttons {
  display: none;
}

.synonym-button {
  background-color: #f2f2f2; /* Non-selected color */
  color: black; /* Text color */
  padding: 10px 25px;
  margin: 10px; /* Adjusted margin */
  border-radius: 20px;
  border: 2px solid transparent; /* Add border to maintain size */
  cursor: pointer;
  font-size: 30px;
  transition: background-color 0.3s;
}

.synonym-button.selected {
  background-color: #c0a3ff; /* Selected color */
  border-color: #c0a3ff; /* Same as background to "remove" border */
}

.progress-container {
  display: flex;
  justify-content: center;
}

.answer-billes {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.answer-billes.correct {
  background-color: #4caf50;
  color: white;
}

.answer-billes.notcorrect {
  background-color: #f44336;
  color: white;
}

.question-counter {
  font-size: 1em;
  margin-top: 10px;
}

.score-display {
  font-size: 1.5em;
  margin-top: 10px;
}

.container-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.confirm-button {
  color: white;
  background-color: #f58fd8;
  border: none;
  border-radius: 3rem;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 2rem;
  margin-top: 20px;
}

.restart-button {
  color: white;
  background-color: #f58fd8;
  border: none;
  border-radius: 3rem;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 2rem;
  margin-top: 20px;
}

.progress-container {
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.score-display {
  font-size: 16px;
}
